
.container {
  display:grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas: 'header header header header';
  grid-gap: 0.5em
}
body {
color: rgb(180, 170, 182);
  font-family: 'Fuzzy Bubbles';
  font-size: 18px;
  font-weight: 600;

  }
 header {
  box-sizing: border-box;
 background-image: linear-gradient(to left, black, #661b73,rgb(24, 233, 62));
 height: 60px;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.avatar1{
  max-width: 600px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative; 
}
.avatar__imagem1{
object-fit: cover;
width: 100%;
height: 100%;
border-radius: 50%;
}

.navegador {
  display: flex;
 position: absolute;
 flex-direction: column;
 width: 800px;
 margin-left: 500px;
 
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
  opacity: .8;
  font-weight: 600;
  letter-spacing: 0,5px;
}

a {
  text-decoration: none; 
  color: #d1c9dc; 
}

a:hover {
color: #a15fa4;
}
.imag_cod {
  grid-column-start: 1;
 grid-column-end: 5;
}
.codigo{
  overflow: hidden;
  position: relative; 
  width: 100%;
  height: 300px;
  grid-column-start: 1;
 grid-column-end: 5;

}
.imagem__cod {
 width: 100%;
  box-shadow: 2px 2px 10px hsl(290, 20%, 24%);
  transition: all 1s;
}
.imagem__cod:hover  {
  transform: scale(1.15, 1.1);
}
.imag_ava {
  grid-column-start: 1;
 grid-column-end: 5;
}
.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative; 
  bottom: 65px;
  left: 11%;
}
  
.avatar__imagem {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%; 
  
}
.github img {
object-fit: cover;
position: absolute;
left: 12.5%;
top: 466px;
border-radius: 50%;
}

.linkedin img{
border-radius: 50%;
object-fit: cover;
position: absolute;
left: 17.5%;
top: 486px;
}

.stack img{
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 22.5%;
  top: 466px; 
}
  .titulo {
    color:#db5bbb;
    font-size: 38px;
    position: relative;
    right: 400px;
    top: 400px
  }
    .profession {
      position: relative;
       right: 480px;
       color: darkgrey;
       top: 500px;
     }
.contenido{
    grid-column-start: 1;
   grid-column-end: 5;

}
     .conteudo {
      text-align: center;  
       font-family: babang;
       color: #661b73;
       font-size: 25px;
       
     }
      .conteudo:hover {
        color: #AE2C8E;
      }
      .conteudo__presentacao {
        margin: 0 300px;
        text-align: center;
      }
      .conteudo_mayuscula {
        text-transform: uppercase;
      }
      .card__titulo {
        font-family: babang;
        margin-left:  80px;
        color: #661b73;
        font-size: 45px;
      }
      .card__titulo:hover {
        color: #AE2C8E;
      }
  .formar{
      grid-column-start: 1;
     grid-column-end: 5;
   
  }
      .formacao {
        display:inline-block;
        letter-spacing: 1px;
        line-height: 25px;
        width: 800px;
        height: 600px;
        
      
      }
      .imagen4{
        border-radius: 20%;
        margin: 15px;
        margin-left: 100px;
        transition: all .5s;
      }
      .imagen4:hover {
        transform: scale(1.2, 1.2);
      }

      .formacao__img {
        display: flex;

      }
  
      .formacao_img {
        display: flex;
      }
      .formacao___img {
        display: flex;
      }
      .formacao____img {
        display: flex;
      }
.hability {
  grid-column-start: 1;
     grid-column-end: 5;
}
    .Habilidades{
      display:inline-flex;
      flex-wrap: wrap;
      
    }
    .habilidades__img {
    transition: all 1000ms;
    align-items: center;
    gap: 5rem;
    display: flex;
    
    } 
    
    .logo{
      padding: 1.8rem .2rem 3.7rem 6.2rem;
      cursor: pointer;
      transition: 1s;
        }
    .css{
      grid-column-start: 2;
     grid-column-end: 3;
    }
    .javascript{
      grid-column-start: 3;
      grid-column-end: 4;
    }
    .robot{
      grid-column-start: 4;
     grid-column-end: 5;
    }
.proyecto{
      grid-column-start: 1;
     grid-column-end: 5;
    }
    
  
    .card img {
      max-width: 90%;
      max-height: 100%;
      border-top-left-radius: 2.5rem;
      margin: 12px;
      box-shadow: 3px 2px 4px  rgb(74, 73, 73);
    }
    .card {
      height: 380px;
      width: 250px;
      border-top-left-radius: 2.5rem;
      border-bottom: 4px solid #661b73;
      background: rgb(17, 16, 18);
      box-shadow: 2px -4px 6px  rgb(61, 59, 59);
      margin-left: 40px;
      transition: 3s;
    }
    .card:hover {
      transform: scale(1.1, 1.1);
    }
    .card__info  span {
      display: block;

    }
    .card__info {
      padding: 16px;
    }
    .title__card {
      color: #661b73;
      font-size: 25px;
    }
    .card__data {
      color: #986d97;
      font-size: 16px;
      font-weight: 300;
    }
    .card__conteudo {
      color: #d1c9dc;
      font-size: 12px;
      margin-top: 16px;
    }
    .card__conteudo span {
      text-transform: uppercase;
    }
      strong {
      text-transform: uppercase;
      }
    .botones {
      margin-top: 16px;
      font-size: 16px;
      letter-spacing: -1px;
      display: flex;
      align-items: center;
    }
    .botom_1 {
      margin: 5px;
      padding: 5px 10px;
      background: #661b73;
      border-radius: 15px;
      border: 2px solid #986d97;
    }
    .botom_2 {
      margin: 5px;
      padding: 5px 10px;
      background: #661b73;
      border-radius: 15px;
      border: 2px solid #986d97;
      
    }
.contacto {
  grid-column-start: 1;
  grid-column-end: 5; 
}
    .contato{
      display: flex;
      text-align: center;
      height: 400px;
      
    }
    .info {
      width: 320px;
      height: 90px;
      padding: 15px 35px;
      border-top-right-radius: 2.5rem;
      border-bottom: 4px solid #661b73;
      background: rgb(17, 16, 18);
      box-shadow: 2px -4px 6px  rgb(61, 59, 59);
      margin-left: 680px;
      position: relative;
      
    }
    .formulario {
      text-align: center;
      font-size: 18px;
    }
    .card_1 {
      height: 400px;
      width: 300px;
      position: absolute;
      left: 150px;
      border-bottom: 4px solid #661b73;
      background: rgb(17, 16, 18);
      box-shadow: 2px -4px 6px  rgb(61, 59, 59);
      margin-left: 40px;
    }
    
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 40px;
      
    }
  .card_1 input {
      width: 100%;
    }
    input, textarea {
    
      margin-bottom: 5px;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 14PX;
    }
    textarea {
      width: 100%;
      border-radius: 8PX;
      box-sizing: border-box; 
    }
  .logo_cont {
    position: relative;
    left: 750px;
    bottom: 200px;
    width: 300px;
  }
  .logo_cont1 {
    position: relative;
    bottom: 5px;
  }
  .logo_cont2 {
    padding: 0 30px;
  }
    
  .rodape{
      box-sizing: border-box;
      background-image: linear-gradient(to left, black, #661b73,rgb(24, 233, 62));
      height: 70px;
      width: 100%;
    
    }   

  .rodape_text{
    font-size: 28px;
    text-align: right;
    position: relative;
    color: #AE2C8E;
    top: 20px;
    right: 100px;
    } 

